body{
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.common {
    /* background-color: #cccccc; */
    border: 2px solid white;
    position: absolute; 
}

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    border-bottom: solid 1px #555555;
}
.leftmenu{
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 1px;
    padding-top: 15px;
}
.mainbody{
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 100px;
    padding-right: 5px;
    padding-bottom: 39px;
    border-right: solid 1px #555555;
    border-left: solid 1px #555555;
    height: 100%;
}
.rightmenu{
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    padding-left: 5px;
}
.footer{
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 8px;
    color: #999999;
    text-align: center;
    padding-top: 15px;
    position: fixed;
    background-color:white;
}
.subheader{
    float: right;
}